<body>
      <!--Bloco cobrança com vencimento-->

    <div class="container">
        <h1>Cobrança com Vencimento</h1>
        <p>Escolha um método </p>

        <!-- Botões para colapsar os formulários -->
        <div class="buttons">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#cobVencimentoFormPut" aria-expanded="false" aria-controls="cobVencimentoFormPut">PUT</button>
            <button class="btn" style="background-color: #6f42c1; color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#cobVencimentoFormPatch" aria-expanded="false" aria-controls="cobVencimentoPatch">PATCH</button>
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#cobVencimentoFormGet" aria-expanded="false" aria-controls="cobVencimentoFormGet">GET</button>
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#cobVencimentoFormGetId" aria-expanded="false" aria-controls="cobVencimentoFormGetId">GET-ID</button>
        </div>

        <div class="collapse" id="cobVencimentoFormPut">
            <div class="card card-body mt-3">
                <h2><button class="btn btn-outline-primary btn-lg w-10 text-start" disabled>PUT</button>
                        <strong>/v2/cobv/txid</strong>
                    <br>
                        <br>Preencha os campos para criar uma cobrança com vencimento </h2>

                <!-- Formulário de Cobrança Imediata -->
                <form id="cobForm" method="POST" action="{{ url_for('cob_vencimento_tp.cob_vencimento_put') }}">
                    <!-- Campo TxId -->
                    <label for="txid"><strong>TxId:</strong></label>
                    <input type="text" id="txid" name="txid" placeholder="Digite o TxId" required>
                
                    <label for="dataDeVencimento"><strong>Data de Vencimento:</strong></label>
                    <input type="date" id="dataDeVencimento" name="dataDeVencimento" required>
                
                    <label for="validadeAposVencimento"><strong>Validade Após Vencimento (dias):</strong></label>
                    <input type="number" id="validadeAposVencimento" name="validadeAposVencimento" required>
                
                    <!-- Campos do devedor -->
                    <label for="cnpj"><strong>CNPJ:</strong></label>
                    <input type="text" id="cnpj" name="cnpj" placeholder="Ex: 53747188000100" required>
                
                    <label for="nome"><strong>Nome:</strong></label>
                    <input type="text" id="nome" name="nome" placeholder="Ex: Pix Empreendimentos" required>
                
                    <label for="email"><strong>Email:</strong></label>
                    <input type="email" id="email" name="email" placeholder="Ex: emp.pix@mail.com.br" required>
                
                    <label for="logradouro"><strong>Logradouro:</strong></label>
                    <input type="text" id="logradouro" name="logradouro" placeholder="Ex: Rua A, número 8" required>
                
                    <label for="cidade"><strong>Cidade:</strong></label>
                    <input type="text" id="cidade" name="cidade" placeholder="Ex: Ouro Preto" required>
                
                    <label for="uf"><strong>UF:</strong></label>
                    <input type="text" id="uf" name="uf" placeholder="Ex: MG" required>
                
                    <label for="cep"><strong>CEP:</strong></label>
                    <input type="text" id="cep" name="cep" placeholder="Ex: 35400000" required>
                
                    <!-- Campo chave PIX -->
                    <label for="chave"><strong>Chave PIX:</strong></label>
                    <input type="text" id="chave" name="chave" placeholder="Digite a chave PIX (CPF, CNPJ, e-mail ou aleatória)" required>
                
                    <!-- Campos do valor -->
                    <label for="valorOriginal"><strong>Valor:</strong></label>
                    <input type="text" id="valorOriginal" name="valorOriginal" placeholder="Ex: 100.00" required>
                
                    <!-- Abatimento -->
                    <label for="abatimentoModalidade"><strong>Modalidade de Abatimento:</strong></label>
                    <input type="number" id="abatimentoModalidade" name="abatimentoModalidade" placeholder="Ex: 1" required>
                
                    <label for="abatimentoValorPerc"><strong>Valor Percentual de Abatimento:</strong></label>
                    <input type="text" id="abatimentoValorPerc" name="abatimentoValorPerc" placeholder="Ex: 5.00" step="0.01" required>
                
                    <!-- Desconto -->
                    <label for="descontoModalidade"><strong>Modalidade de Desconto:</strong></label>
                    <input type="number" id="descontoModalidade" name="descontoModalidade" placeholder="Ex: 3" required>

                    <label for="descontoValorPerc"><strong>Valor Percentual de Desconto:</strong></label>
                    <input type="text" id="descontoValorPerc" name="descontoValorPerc" placeholder="Ex: 1.00" step="0.01" required>

                    <!-- Campo adicional para descontoDataFixa, visível apenas se a modalidade de desconto for 1 ou 2 -->
                    <label for="descontoDataFixa" id="descontoDataFixaLabel"><strong>Data Fixa para Desconto:</strong></label>
                    <input type="date" id="descontoDataFixa" name="descontoDataFixa">
                
                    <!-- Juros -->
                    <label for="jurosModalidade"><strong>Modalidade de Juros:</strong></label>
                    <input type="number" id="jurosModalidade" name="jurosModalidade" placeholder="Ex: 1" required>
                
                    <label for="jurosValorPerc"><strong>Valor Percentual de Juros:</strong></label>
                    <input type="text" id="jurosValorPerc" name="jurosValorPerc" placeholder="Ex: 0.25" step="0.01" required>
                
                    <!-- Multa -->
                    <label for="multaModalidade"><strong>Modalidade de Multa:</strong></label>
                    <input type="number" id="multaModalidade" name="multaModalidade" placeholder="Ex: 2" required>
                
                    <label for="multaValorPerc"><strong>Valor Percentual de Multa:</strong></label>
                    <input type="text" id="multaValorPerc" name="multaValorPerc" placeholder="Ex: 2.00" step="0.01" required>
                    <br><br>
                    <!-- Solicitação do pagador -->
                    <!---<h3>Solicitação do Pagador</h3>
                    <label for="solicitacaoPagador"><strong>Solicitação do Pagador:</strong></label>
                    <input type="text" id="solicitacaoPagador" name="solicitacaoPagador" placeholder="Informe o número ou identificador do pedido.">
                
                    <h3>Informações Adicionais</h3>
                    <label for="infoAdicionaisNome"><strong>Nome do Campo Adicional:</strong></label>
                    <input type="text" id="infoAdicionaisNome" name="infoAdicionaisNome" placeholder="Ex: Campo 1">
                
                    <label for="infoAdicionaisValor"><strong>Valor do Campo Adicional:</strong></label>
                    <input type="text" id="infoAdicionaisValor" name="infoAdicionaisValor" placeholder="Ex: Informação Adicional1 do PSP-Recebedor">-->
                
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
                
                    <h2>Exemplo de Payload</h2>
                        <pre>
                            {
                                "calendario": {
                                  "dataDeVencimento": "2022-12-31",
                                  "validadeAposVencimento": 30
                                },
                                "devedor": {
                                  "cnpj": "53747188000100",
                                  "nome": "Pix Empreendimentos",
                                  "email": "emp.pix@mail.com.br",
                                  "logradouro": "Rua A, número 8",
                                  "cidade": "Ouro Preto",
                                  "uf": "MG",
                                  "cep": "35400000"
                                },
                                "valor": {
                                  "original": "100.00",
                                  "abatimento": {
                                      "modalidade": 1,
                                      "valorPerc": "5.00"
                                  },
                                  "desconto": {
                                      "modalidade": 3,
                                      "valorPerc": "1.00"
                                  },
                                  "juros": {
                                      "modalidade": 1,
                                      "valorPerc": "0.25"
                                  },
                                  "multa": {
                                      "modalidade": 2,
                                      "valorPerc": "2.00"
                                  }
                                },
                                "chave": "5f84a4c5-c5cb-4599-9f13-7eb4d419dacc",
                                "solicitacaoPagador": "Informe o número ou identificador do pedido.",
                                "infoAdicionais": [
                                    {
                                    "nome": "Campo 1",
                                    "valor": "Informação Adicional1 do PSP-Recebedor"
                                  }
                                ]
                              }
                        </pre>
            </div>
        </div>

        <div class="collapse" id="cobVencimentoFormPatch">
            <div class="card card-body mt-3">
                <h2><button class="btn btn-outline" style="border: 2px solid #6f42c1; color: #6f42c1; background-color: transparent;" disabled>PATCH</button>
                        <strong>/v2/cobv/txid</strong>
                    <br>
                        <br>Preencha os campos para alterar informações em uma cobrança com vencimento</h2>

                <!-- Formulário de Cobrança Imediata -->
                <form id="cobForm" action="{{ url_for('cob_vencimento_tp.cob_vencimento_patch') }}" method="POST">
                    <input type="hidden" name="_method" value="PATCH">
                    
                    <label for="txid"><strong>TxId:</strong></label>
                    <input type="text" id="txid" name="txid" required>
                
                    <label for="devedor"><strong>Devedor:</strong></label>
                    <input type="text" id="nome" name="nome" placeholder="Nome devedor" required><br>
                    <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro" required><br>
                    <input type="text" id="cidade" name="cidade" placeholder="Cidade" required><br>
                    <input type="text" id="uf" name="uf" placeholder="UF" required><br>
                    <input type="text" id="cep" name="cep" placeholder="CEP" required><br>
                    <input type="text" id="cpf" name="cpf" placeholder="CPF" required>

                    <label for="valor"><strong>Valor:</strong></label>
                    <input type="text" name="valorOriginal" id="valorOriginal" placeholder="Ex: 100.00" required>

                    <label for="solicitacaoPagador"><strong>Solicitação Pagador:</strong></label>
                    <input type="text" name="solicitacaoPagador" id="solicitacaoPagador" placeholder="Cobrança dos serviços prestados.">
                
                    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                </form><br>
                    <h2>Exemplo de Payload</h2>
                        <pre>
                            {
                                "devedor": {
                                  "logradouro": "Alameda Souza, Numero 80, Bairro Braz",
                                  "cidade": "Recife",
                                  "uf": "PE",
                                  "cep": "70011750",
                                  "cpf": "12345678909",
                                  "nome": "Francisco da Silva"
                                },
                                "valor": {
                                  "original": "123.45"
                                },
                                "solicitacaoPagador": "Cobrança dos serviços prestados."
                              }
                        </pre>
                    </div>
                </div>

        <div class="collapse" id="cobVencimentoFormGet">
            <div class="card card-body mt-3">
                <h2><button class="btn btn-outline-success btn-lg w-10 text-start" disabled>GET</button>
                    <strong>/v2/cobv</strong>
                    <br>
                        <br>Preencha os campos para consultar uma cobrança com vencimento </h2>

                <!-- Formulário de Cobrança Imediata -->
                <form id="cobForm" action="{{ url_for('cob_vencimento_tp.cob_vencimento_get') }}" method="POST">
                    <label for="inicio"><strong>Data Início:</strong></label>
                    <input type="date" id="inicio" name="inicio" placeholder="Data deverá ter esse formato: (AA/MM/DD) 2025-01-01" required>

                    <label for="fim"><strong>Data Fim:</strong></label>
                    <input type="date" id="fim" name="fim" placeholder="Data deverá ter esse formato: (AA/MM/DD) 2025-01-01" required>


                    <button type="submit" class="btn btn-primary mt-3">Enviar</button><br>
                </form>
            </div>
        </div>

        <div class="collapse" id="cobVencimentoFormGetId">
            <div class="card card-body mt-3">
                <h2><button class="btn btn-outline-success btn-lg w-10 text-start" disabled>GET-ID</button>
                    <strong>/v2/cobv/txid</strong>
                    <br>
                        <br>Preencha os campos para consultar uma cobrança com vencimento com TxId</h2>

                <!-- Formulário de Cobrança Imediata -->
                <form id="cobForm" action="{{ url_for('cob_vencimento_tp.cob_vencimento_get_txid') }}" method="POST">
                    <label for="txid"><strong>TxId:</strong></label>
                    <input type="text" id="txid" name="txid" placeholder="" required>

                    <button type="submit" class="btn btn-primary mt-3">Enviar</button><br>
                </form>
            </div>
        </div>
    </div>
            <br>
                <br>
                    <br>
                        <br>
                            <br><br><br>
</body>